body {
  background-color: rgb(18, 121, 121);
  text-align: center;
}

header {
  color: white;
}

h2 {
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-family: "Courier New", Courier, monospace;
}
.answer {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.category {
  display: flex;
  justify-content: center;
}

.points {
  display: flex;
  justify-content: center;
}
.get-question {
  background-color: rgb(222, 222, 116);
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.reveal {
  width: 300px;
  height: 50px;
  background-color: rgb(11, 11, 74);
  color: white;
  font-size: 18px;
}

.hide {
  width: 300px;
  height: 50px;
  background-color: rgb(11, 11, 74);
  color: white;
  font-size: 18px;
}

.decrease {
  width: 90px;
  height: 45px;
  background-color: rgb(193, 59, 82);
  font-size: 18px;
  border-radius: 9px;
}

.increase {
  width: 90px;
  height: 45px;
  background-color: rgb(120, 120, 171);
  font-size: 18px;
  border-radius: 9px;
  margin: 10px 10px;
}

.reset {
  width: 90px;
  height: 45px;
  background-color: rgb(184, 33, 33);
  font-size: 18px;
  border-radius: 9px;
}
